@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* { 
    overflow: hidden;
}

body { 
    margin: 0;
}

#ui {
    margin: 0;
    position: absolute;
    top: 0;
    left: 25px;
}

#endgame {
    margin: 0;
    position: absolute;
    top: 0;
    left: 25px;
    display: none;
}

#endgame0 {
    margin: 0;
    position: absolute;
    top: 0;
    left: 25px;
    display: none;
}

h1 {
    color: darkgray;
    font-family: "Inconsolata", monospace;
}